[submodule "src/joystick_drivers"]
	path = src/joystick_drivers
	url = https://github.com/UKyKORA/joystick_drivers.git
[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = https://github.com/UKyKORA/rplidar_ros.git
[submodule "src/drive"]
	path = src/drive
	url = https://github.com/UKyKORA/RoverDrive.git
[submodule "src/rosserial"]
	path = src/rosserial
	url = git@github.com:UKyKORA/rosserial.git
